// Estilos para el snippet de últimos productos
  .mi_snippet_latest_products {
    .card {
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      height: 100%; /* Asegurar que todas las tarjetas tengan la misma altura */
      min-height: 400px; /* Altura mínima para uniformidad */

      img {
        max-height: 200px;
        object-fit: cover;
        width: 100%;
        height: 200px; /* Altura fija para todas las imágenes */
      }
      
      .card-body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        flex-grow: 1; /* Hace que el card-body ocupe el espacio restante */
        justify-content: space-between; /* Distribuir el contenido */
      }
      
      .card-title {
        font-size: 1.1em;
        margin-bottom: 10px;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; /* Mantener el título en una sola línea */
        font-weight: 600;
      }
      
      .card-text {
        font-size: 1.1em;
        color: #333;
        font-weight: bold;
        margin-bottom: 15px;
        flex-grow: 0; /* No expandir */
      }
      
      .btn-primary {
        background-color: #87465C !important;
        border-color: #87465C !important;
        color: #FFFFFF !important;
        font-size: 0.9rem;
        padding: 8px 16px;
        margin-top: auto; /* Empujar el botón hacia abajo */
        flex-grow: 0; /* No expandir */
      }

      .btn-primary:hover {
        background-color: #6d3748 !important;
        border-color: #6d3748 !important;
      }

      .btn-primary i,
      button.btn.btn-sm.btn-block.o_default_snippet_text.bg-transparent.btn-outline-primary.text-primary i
      {
        margin-right: .5rem !important;
      }

      a.btn.btn-sm.btn-block.o_default_snippet_text.bg-transparent.btn-outline-primary.text-primary {
        background-color: #fff !important;
        border-color: #87465C !important;
        color: #87465C !important;
        font-size: 1rem;
      }
    }
    
    /* Asegurar que las filas tengan la misma altura */
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    
    .col-lg-3 {
      display: flex;
      margin-bottom: 20px;
    }
  }
  